@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --aqua-glow: #3EE9E5,
  --deep-ocean: #093F68,
  --steel-mist: #777F98,
  --pure-white: #fff,
  --midnight-shadow: #080C20,
  --crimson-alert: #FF2965,
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
